.modal { 
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed; 
  top:0; 
  left: 0; 
  right: 0;
  bottom: 0;
  z-index: 2;
  
  background: #3D3D3D7A;
}

.modal-container { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  width: 611px;
  height: 760px;
  border-radius: 20px;
  padding: 50px 60px;

  background-color: white;
}

.modal__title { 
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

.modal__button { 
  all: unset; 

  font-family: Rubik;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  height: 56px;
  width: 245px;
  border-radius: 10px;

  background: #B9B9B9;
  color: #FFF;
  cursor: pointer;
} 

.button-entrada-selected { 
  background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%);
}

.button-saida-selected { 
  background: linear-gradient(91.66deg, #FA8C10 0%, #FF576B 90.32%);
}

.modal input { 
  height: 63px;
  width: 485px;
  border-radius: 5px;
  border: 1px solid #555555;
}

.modal label { 
  font-family: Rubik;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  color: #484848;
}

.btn-insert { 
  height: 42px;
  width: 236px;
  border-radius: 5px;
  background: #645FFB;
  align-self: center;
}

.close-icon { 
  all: unset;
  position: absolute;
  top: 30px;
  right: 50px;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  cursor: pointer;
}

.empty-input::placeholder { 
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  color: rgba(162, 6, 6, 0.713);
  text-align: center;
}

